<%- include('../../includes/head.ejs') %> 
</head>
<body>
    <%- include('../../includes/navigation.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Category Details</h1>
                    <div class="text-end">
                        <a href="/categories/add" class="btn btn-primary">Add Category</a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for (let category of categories) { %>
                                <tr>
                                    <td> <%= category.title %> </td>
                                    <td class="d-flex justify-content-around">
                                        <!-- Edit Button -->
                                        <a href="/categories/edit/<%= category.id %>" class="btn btn-primary btn-sm">Edit</a>
                        
                                        <!-- Delete Button -->
                                        <form action="/categories/delete" method="post" style="display: inline-block;">
                                            <input type="hidden" name="categoryId" value="<%= category.id %>">
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
